
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<h3>ĐƠN HÀNG CỦA QUÝ KHÁCH ĐÃ ĐƯỢC CHÚNG TÔI GHI NHẬN. CHÚNG TÔI SẼ LIÊN HỆ QUÝ KHÁCH TRONG THỜI GIAN SỚM NHẤT ĐỂ XÁC NHẬN SAU KHI XÁC NHẬN THÀNH CÔNG CHÚNG TÔI GIAO HÀNG ĐÚNG HẸN</h3>
<img src="~/Content/themes/images/Giaohang.jpg" width="100px" height="100px" />

