@*@model IEnumerable<VLMHShop.Models.DT>
@{
    ViewBag.Title = "DT";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>QUẢN LÝ THÔNG TIN SÁCH</h2>
<p>
    @Html.ActionLink("Create New","Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Tensp)</th>
    </tr>
</table>*@
